@ms-viewport {
  width: device-width;
}

* {
  box-sizing: border-box;
}

/* mobile/tablet */
@media screen and (max-width: 770px) {
  body {
    font-size: 22px;
  }

  nav {
    position: static;
    width: 100%;

    .mobile-link {
      display: inline-block;
    }
  }

  #main-container {
    flex-direction: column;
    width: 100%;
  }

  #top {
    margin: 0 0 0 0;
  }

  #cv {
    width: 100%;
    min-width: 100%;
    margin: 0 0 0 0;

    header {
      width:100%;
      max-width: 100%;
    }
  }

  #top, #about-me {
    width: 100%;
  }

  #projects {
    padding: 2rem 0 0 0;
    margin: 0 0 0 0;
    justify-content: flex-start;

    .project-row {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
      border-left: none;
      border-right: none;

      .right-col {
        a {
          padding: .5rem 0;
          font-size: 85%;
          max-width: 100%;
        }
      }
    }
  }

  #skills {
    flex-direction: column-reverse;

    #other-skills-container, #top-skills-container {
      width: 100%;
      padding: 2rem;

      .title {
        margin-bottom: 1.3rem;
      }

      div {
        width: 100%;
      }
    }

    // #other-skills-container {
    //   div {
    //     width: 100%;
    //   }
    // }
  }
}

