---
---
@import 'normalize';

@font-face {
  font-family: "MediumSans";
  src: url("/static/fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BoldSans";
  src: url("/static/fonts/Open_Sans/OpenSans-ExtraBold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "BoldSerif";
  src: url("/static/fonts/NoticiaText_Bold/NoticiaText-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

html {
    min-height: 100vh;
    width: 100vw;
}

body {
  font-family: "MediumSans";
  min-height: 100vh;
  max-width: 100vw;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #59B9CE;
}

#top-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: bottom;
}

#top {
    z-index: 1;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-family: "BoldSans";
    padding: 2.5rem;
    $shadow-color: rgba(0, 0, 0, 0.8);

    h2 {
      font-family: "BoldSerif";
      font-size: 2rem;
      margin: 0;
      text-shadow: 2px 2px 3px $shadow-color;
    }

    .top-links {
      display: flex;
      justify-content: space-around;
    }

    a {
      margin: auto;
      background: white;
      color: #058AA6;
      padding: 4px 8px;
      box-shadow: 2px 2px 3px $shadow-color;
    }
}

.top-bg-stack {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
}

// 5 elems
@keyframes fade-bg {
    0% {opacity: 0;}
    5% {opacity: 1;}
    15% {opacity: 1;}
    30% {opacity: 0;}
    100% {opacity: 0;}
}

.top-bg-stack-active {
    animation-name: fade-bg;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.glenn-carstens-peters {
    background-image: url("/static/images/background/glenn-carstens-peters-203007.jpg");
}

.glen-carstens-peters-overlay {
    background-image: url("/static/images/background/glenn-carstens-peters-203007_overlay.jpg");
}

.jeremy-perkins {
    background-image: url("/static/images/background/jeremy-perkins-317087.jpg");
}

.kristopher-roller {
    background-image: url("/static/images/background/kristopher-roller-188180_cropped.jpg");
}

.mikhail-vasilyev {
    background-image: url("/static/images/background/mikhail-vasilyev-34524-kitten.jpg");
}

.split-bg {
    background-image: url("/static/images/background/split.jpg");
}

