---
---
@import 'normalize';
@import 'fonts';
@import 'carousel';
@import 'projects';

html {
  min-height: 100vh;
}

body {
  font-family: "MediumSans";
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #59B9CE;
}

h2 {
  font-family: "BoldSans";
}

#top-container {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: bottom;
}

#top {
    z-index: 1;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-family: "BoldSans";
    padding: 2.5rem;
    $shadow-color: rgba(0, 0, 0, 0.8);

    h2 {
      font-size: 2rem;
      margin: 0;
      text-shadow: 2px 2px 3px $shadow-color;
    }

    .top-links {
      display: flex;
      justify-content: space-around;
    }

    a {
      margin: auto;
      background: white;
      color: #058AA6;
      padding: 4px 8px;
      box-shadow: 2px 2px 3px $shadow-color;
    }
}

#about {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: flex-start;
  padding: 0;

  .left-col {
    flex-grow: 2;
    font-size: 1.5rem;
    padding: 4rem;
    text-indent: 3rem;
    background: #74ADBD;
    color: white;

    h2 {
      font-size: 2rem;
    }
  }

  .right-col {
    flex-grow: 1;
    // new flex context
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;

    svg {
      width: 50px;
      height: auto;
      margin: 3rem;
    }
  }
}

footer {
  font-family: "BoldSans";
  border-top: 2px solid black;

  div {
    margin: 6rem 0 2rem 0;
    padding: 0 2rem 0 2rem;
  }

  svg {
    height: 2.5rem;
  }
}
