@font-face {
  font-family: "MediumSans";
  src: url("/static/fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SemiBold";
  src: url("/static/fonts/Open_Sans/OpenSans-Semibold.ttf");
  font-style: normal;
  font-weight: bold;
}


@font-face {
  font-family: "BoldSans";
  src: url("/static/fonts/Open_Sans/OpenSans-ExtraBold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "BoldSerif";
  src: url("/static/fonts/Merriweather/Merriweather-Black.ttf");
  font-style: normal;
  font-weight: bold;
}


$dk-gray: #393939;
$lt-gray: #DCDBD5;
$yellow-green: #D8FF84;

$trans-red: rgba(171, 34, 6, 0.3);
$link-border-red-hover: inset 0 -8px 0 $trans-red;
$red-link: #BC260F;
$trans-blue: rgba(0, 111, 231, 0.7);
$very-trans-blue: rgba(0, 111, 231, 0.3);
$dk-blue: #0352A7;
// $blue: rgba(0, 90, 206, 0.9);
$blue: rgba(41, 115, 206, 0.9);

html, body {
  max-height:100vh;
}

body {
  font-family: "MediumSans", sans-serif;
  font-size: 17px;
  background-color: #fff;
}

a.redlink {
  font-family: "BoldSans", sans-serif;
  padding: 8px 0px 0px 0px;
  text-decoration: none;
  min-width: 48px;
  min-height: 48px;
  color: $red-link;
  border-bottom: 3px solid inherit;

  &:hover {
    box-shadow: $link-border-red-hover;
  }
}

a {
  font-family: "BoldSans", sans-serif;
  padding: 8px 0px 0px 0px;
  text-decoration: none;
  min-width: 48px;
  min-height: 48px;
  color: inherit;
  border-bottom: 3px solid inherit;

  &:hover {
    box-shadow: inset 0 -8px 0 inherit;
  }
}

strong {
  font-family: "SemiBold", sans-serif;
}

ul {
  list-style: none;
}

#top {
  background-color: $dk-gray;
  // $left-space: 2rem;
  height: 100%;

  #contact-links-mobile {
    display: none;
  }

  #menu-button {
    border: 3px solid #FDFFB7;
    border-radius: 50%;
    height: 60px;
    width:60px;
    text-align: center;
    span {
      padding-top: 8px;
      font-size: 40px;
    }
  }

  #top-container {
    background-color: #96D13C;
    color: #158E00;
    width: 75%;
    height: 100%;
  }

  header {
    font-family: "BoldSerif", sans-serif;
    font-size: 2.5em;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }

  a {
    color: #FDFFB7;
    margin-left: 1rem;
    text-shadow: none;
  }
}

.left-container {
  text-align: right;
  position: absolute;
  width: 35%;
}

#about-me {
  min-height: 15rem;
  margin-bottom: 3rem;

  .content {
    width: 70%;
    min-height: 11rem;
    position: absolute;
    right: 0;
    padding: 2rem;
    font-size: 110%;
    background-color: $dk-gray;
    color: white;

    p {
      margin: 0 0 1rem 0;
    }

    a:hover {
      box-shadow: inset 0 -8px 0 rgba(255, 255, 255, 0.3);
    }
  }
}

.title {
  font-family: "BoldSans";
  font-size: 1.5rem;
  text-align: center;
}

.white {
  color: #787878;
}

#project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 3rem;
  margin-top: 9rem;
  margin-bottom: 5rem;
  max-width: 100%;

  * {
    margin: auto;
  }

  .project-row {
    margin: 1rem 0 1rem 0;
    width: 100%;
    display: flex;

    .left-col {
      flex: 20%;
      max-width: 20%;
      background-color: #A6A6A6;
      padding: 1rem;

      img {
        max-width: 100%;
        border: 1px solid black;
      }
    }

    .right-col {
      // background-color: #B27B0C;
      border: 3px solid black;
      padding: 1.5rem;
      flex: 60%;
      max-width: 60%;
      a {
        box-shadow: inset 0px -8px rgba(0, 0, 0 ,0.3);
      }
    }
  }
}

#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  ul, li {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  div.title {
    font-size: 1.25rem;
    width: 100%;
    margin-bottom: 2rem;
  }

  #top-skills-container, #other-skills-container {
    width: 50%;
    padding: 3rem 0 3rem 0;
  }

  #top-skills-container {
    background-color: #EF7E04;
    text-align: center;
  }

  #other-skills-container {
    width: 50%;
    background-color: #FFBD76;
    display: flex;
    flex-wrap: wrap;

    div {
      margin: auto;

      ul li {
        font-size: 85%;
      }
    }
  }
}

#cv {
  max-width: 100%;
  background-color: #95C1D6;

  $left-pad: 5.5rem;

  .title {
    padding: 4rem 0 2rem $left-pad;
    text-align: left;
    background-color: $dk-gray;
    color: #95C1D6;
  }

  div {
    padding: .5rem 3.5rem 7.5rem $left-pad;
    color: $dk-gray;

    strong {
      font-family: "BoldSans", sans-serif;
    }

    header {
      font-family: "BoldSans", sans-serif;
      font-size: 105%;
      color: $lt-gray;
      background-color: $dk-gray;
      display: inline-block;
      margin: 1em 0 0 0;
      padding: 3px 8px 3px 8px;
    }

    p {
      margin: 1.3rem 0 0 0;
    }

    ul {
      margin: .8rem;
      list-style: none;
    }
  }
}

#menu-button-container {
  display: none;
  background-color: $blue;
  color: white;
  border-radius: 50%;
  padding: 20px;
  position: fixed;
  right: 25px;
  bottom: 69px;
  text-align: center;
  z-index: 99;

  .octicon {
    width:36px;
    height:36px;
    font-size: 36px;
  }

  #menu-items {
    display: none;
    padding: 0;

    li a {
      padding: 0;
      z-index:100;
    }
  }
}

#back-to-top {
  background-color: $blue;
  color: white;
  font-family: "BoldSans";
  position: fixed;
  bottom: 0;
  right: 25px;
  max-height: 48px;
  padding: 20px;
  border-radius: 50%;
  &:hover {
    &::before {
      content: 'back to ';
    }
  }
}

footer {
  width: 100%;
  padding: 3rem 0rem 2rem 0rem;
  color: $dk-gray;
  text-align: center;
}

.fake-hover {
  font-size: 120%;
  text-decoration: underline;
}

/* RESPONSIVE */
/* small screen */
@media screen and (max-width: 750px) {
  #menu-button-container {
    display: block;
  }

  #top {
    #contact-links {
      display: none;
    }

    #nav-links {
      display: none;
    }
  }

  #mobile-links-container #contact-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 9rem;

    a {
      padding: 18px;
      margin: 18px;
      border: 1px solid $red-link;
    }
  }

  #cv {
    div {
      padding-left: 0;
    }
  }

  #projects {
    justify-content: space-around;
  }

  #menu-items, #menu-button-container {
    a {
      display: block;
      min-height: 48px;
      padding: 36px 64px 36px 64px;
    }
  }
}

@media screen and (min-width: 751px) {
  .menu-item:hover {
    box-shadow: inset 0 -5px 0 rgba(255, 255, 255, 0.4);
  }

  a[href="#mobile-links-container"] {
    display: none;
  }

  #mobile-links-container {
    display: none;
  }
}
