@font-face {
  font-family: "MediumSans";
  src: url("/static/fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "BoldSans";
  src: url("/static/fonts/Open_Sans/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: bold; }
html, body {
  max-height: 100vh; }

body {
  font-family: "MediumSans", sans-serif;
  font-size: 17px; }

a.redlink {
  font-family: "BoldSans", sans-serif;
  padding: 8px 0px 0px 0px;
  text-decoration: none;
  min-width: 48px;
  min-height: 48px;
  color: #BC260F;
  border-bottom: 3px solid inherit; }
  a.redlink:hover {
    box-shadow: inset 0 -8px 0 rgba(171, 34, 6, 0.3); }

a {
  font-family: "BoldSans", sans-serif;
  padding: 8px 0px 0px 0px;
  text-decoration: none;
  min-width: 48px;
  min-height: 48px;
  color: inherit;
  border-bottom: 3px solid inherit; }
  a:hover {
    box-shadow: inset 0 -8px 0 inherit; }

strong {
  font-family: "BoldSans", sans-serif; }

ul {
  list-style: none; }

#top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-flow: column wrap;
  color: rgba(0, 90, 206, 0.9);
  text-shadow: 3px 3px 3px rgba(0, 111, 231, 0.3);
  height: 100%; }
  #top #contact-links-mobile {
    display: none; }
  #top header {
    font-family: "BoldSans", sans-serif;
    font-size: 2.5em; }
  #top p {
    text-align: center;
    margin: auto;
    padding: .5rem; }
  #top a {
    margin: 1rem;
    text-shadow: none; }
  #top a:not(.redlink) {
    text-shadow: 3px 3px 3px rgba(0, 111, 231, 0.3); }
    #top a:not(.redlink):hover {
      box-shadow: inset 0 -8px 0 rgba(0, 111, 231, 0.3); }

.title-span {
  font-family: "BoldSans", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: rgba(0, 90, 206, 0.9); }

#about-me-anchor {
  padding-top: 3rem; }

#about-me .content {
  margin: 1.5rem 3rem 6rem 3rem;
  padding: 2rem;
  font-size: 110%;
  background-color: #393939;
  color: white; }
  #about-me .content p {
    margin: 0 0 1rem 0; }
  #about-me .content a:hover {
    box-shadow: inset 0 -8px 0 rgba(255, 255, 255, 0.3); }

#coming-soon {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: #BC260F;
  color: white;
  font-family: "BoldSans";
  text-align: center;
  padding: 12px; }
  #coming-soon p {
    margin: 0; }
  #coming-soon #close-coming-soon {
    cursor: default;
    display: inline-block;
    border: 2px solid white;
    padding: 8px; }
    #coming-soon #close-coming-soon:hover {
      text-decoration: underline; }

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3rem;
  border: 2px solid black;
  margin-bottom: 5rem; }
  #projects a {
    padding: 0;
    text-decoration: none;
    min-width: 27%;
    min-height: 0;
    color: inherit;
    border-bottom: none; }
    #projects a:hover {
      box-shadow: none; }
  #projects p, #projects div {
    margin: auto; }
  #projects div p {
    padding: 2px; }
  #projects div {
    padding-top: 3rem;
    border: 2px solid black;
    min-height: 7rem;
    flex-basis: 27%;
    margin: 3rem 4rem; }
  #projects .white-bg-container p {
    background-color: white;
    opacity: 0.7;
    color: black; }
  #projects .white-bg-container:hover p {
    opacity: 1.0; }
  #projects .black-bg-container p {
    background-color: black;
    opacity: 0.7;
    color: white; }
  #projects .black-bg-container:hover p {
    opacity: 1.0; }
  #projects #sortable-tables {
    background-image: url("/static/images/cv/sortable_tables_screenshot.jpeg"); }
  #projects #not-my-type {
    background-image: url("/static/images/cv/notmytype1.jpeg"); }
  #projects #pymcsqlface {
    background-image: url("/static/images/cv/mcsqlface2.jpeg"); }
  #projects #paintings {
    background-image: url("/static/images/cv/paintings1.jpeg"); }

#skills {
  margin-bottom: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3rem 0 3rem 0; }
  #skills ul, #skills li {
    padding: 0;
    margin: 0; }
  #skills .skills-title {
    width: 100%;
    text-align: center; }
    #skills .skills-title strong {
      font-size: 110%; }
  #skills .top-skills-container {
    background-color: #0352A7;
    color: white;
    border: 2px solid #0352A7;
    width: 100%; }
    #skills .top-skills-container div {
      border: 2px solid white; }
      #skills .top-skills-container div ul {
        display: flex;
        justify-content: space-between; }
        #skills .top-skills-container div ul li {
          margin: auto;
          display: inline-block; }
  #skills div {
    margin: 2rem;
    padding: 1.5rem;
    border: 2px solid black;
    font-weight: 700; }

#cv {
  margin-top: 3rem; }
  #cv div {
    padding: .5rem 3.5rem 7.5rem 5.5rem;
    color: #393939;
    border: 2px solid #393939; }
    #cv div strong {
      font-family: "SemiBoldItalic", sans-serif; }
    #cv div header {
      font-family: "SemiBoldItalic", sans-serif;
      color: #DCDBD5;
      background-color: #393939;
      display: inline-block;
      margin: 1em 0 0 0;
      padding: 3px 8px 2px 8px; }
    #cv div p {
      margin: 1.3rem 0 0 0; }
    #cv div ul {
      margin: .8rem;
      list-style: none; }

#menu-button-container {
  display: none;
  background-color: rgba(0, 90, 206, 0.9);
  color: white;
  border-radius: 50%;
  padding: 20px;
  position: fixed;
  right: 25px;
  bottom: 69px;
  text-align: center;
  z-index: 99; }
  #menu-button-container .octicon {
    width: 36px;
    height: 36px;
    font-size: 36px; }
  #menu-button-container #menu-items {
    display: none;
    padding: 0; }
    #menu-button-container #menu-items li a {
      padding: 0;
      z-index: 100; }

#back-to-top {
  background-color: rgba(0, 90, 206, 0.9);
  color: white;
  font-family: "BoldSans";
  position: fixed;
  bottom: 0;
  right: 25px;
  max-height: 48px;
  padding: 20px;
  border-radius: 50%; }
  #back-to-top:hover::before {
    content: 'back to '; }

footer {
  padding: 1em 0em 2em 1em;
  background-color: rgba(0, 90, 206, 0.9);
  color: #DCDBD5;
  text-align: center; }

.fake-hover {
  font-size: 120%;
  text-decoration: underline; }

/* RESPONSIVE */
/* small screen */
@media screen and (max-width: 750px) {
  #menu-button-container {
    display: block; }

  #top #contact-links {
    display: none; }
  #top #nav-links {
    display: none; }

  #mobile-links-container #contact-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 9rem; }
    #mobile-links-container #contact-links a {
      padding: 18px;
      margin: 18px;
      border: 1px solid #BC260F; }

  #cv div {
    padding-left: 0; }

  #projects {
    justify-content: space-around; }

  #menu-items a, #menu-button-container a {
    display: block;
    min-height: 48px;
    padding: 36px 64px 36px 64px; } }
@media screen and (min-width: 751px) {
  .menu-item:hover {
    box-shadow: inset 0 -5px 0 rgba(255, 255, 255, 0.4); }

  a[href="#mobile-links-container"] {
    display: none; }

  #mobile-links-container {
    display: none; } }

/*# sourceMappingURL=style.css.map */
