@import 'normalize';

@font-face {
  font-family: "MediumSans";
  src: url("/static/fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BoldSerif";
  src: url("/static/fonts/Merriweather/Merriweather-Black.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "BoldSans";
  src: url("/static/fonts/Open_Sans/OpenSans-ExtraBold.ttf");
  font-style: normal;
  font-weight: bold;
}

body {
  font-family: "MediumSans";
  min-height: 100%;
  max-width: 100%;
  text-rendering: optimizeLegibility;
}

$med-gray: #858585;
$link-color: #2F7EBB; // med blue
$nav-height: 4rem;

a {
  color: $link-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  height: $nav-height;
  font-family: "BoldSans";
  background-color: #575757;
  color: #fff;

  a {
    display: inline-block;
    color: #fff;
    padding: 1rem 1.3rem 1.3rem 1.3rem;
  }

  .mobile-link {
    display: none;
  }
}

#main-container {
  display: flex;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  padding: 4rem 0 3rem 0;
  text-align: center;
  font-size: 85%;
  color: $med-gray;
}

.white-space {
  height: 3rem;
  width: 100%;
}

#top {
  width: 50%;
  margin: $nav-height 0 0 0;
  padding: 3rem 0 5rem 0;
  border: 8px solid $med-gray;
  text-align: center;
  font-family: "BoldSans";

  h2 {
    font-family: "BoldSerif";
    font-size: 2rem;
  }

  a {
    padding: 1rem;
  }
}

#about-me {
  width: 40%;
  background-color: #000;
  color: #fff;
  padding: 3rem 2rem;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 100%;
  margin: 0 0 0 5rem;
  padding: 2rem;
  border: 8px solid #9A35AD;
  border: 8px solid #000;

  .title {
    width: 100%;
    text-align: center;
    font-family: "BoldSans";
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .project-row {
    padding: 2rem;
    margin: 1rem;
    border: 1px solid cyan;
    max-width: 30%;
    border: 8px solid #000;

    img {
      max-width: 100%;
      border: 1px solid #000;
    }

    .project-description {
      background-color: #D1CED2;
      font-size: 85%;
      margin: 0;
      padding: 0 1rem 0 1rem;
    }
  }
}

#skills {
  display: flex;
  width: 100%;

  ul, li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  #top-skills-container, #other-skills-container {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 0 3rem 0;

    border: 8px solid #3163BB;
    width: 50%;

    div {
      margin: auto;
    }
  }

  #top-skills-container {
    // background-color: #000;
    background-color: #3163BB;

    color: #fff;
    font-family: "BoldSans";
  }

  #other-skills-container {
    display: flex;
    flex-wrap: wrap;

    padding: 2rem;

    .title {
      width: 100%;
      font-family: "BoldSans";
      margin-bottom: .7rem;
    }

    div {
      font-size: 85%;
      width: 40%;
    }
  }
}

#cv {
  border: 8px solid $med-gray;
  // margin: 0 20% 0 20%;
  margin: 0 40% 0 0;

  .title, header {
    background-color: $med-gray;
    color: #fff;
    font-family: "BoldSans";
    padding: .6rem;
  }

  header {
    max-width: 30%;
  }

  p {
    padding: 0 0 0 3rem;
  }

  .footnote {
    font-size: 85%;
    padding: 0 3rem 0 3rem;
  }
}

#back-to-top {
  display: block;
  position: fixed;
  bottom: 0;
  right: 3rem;
  background-color: #000;
  color: #fff;
  padding: 1.5rem;
  border-radius: 50%;
  font-family: "BoldSans";
  border: 1px solid #fff;
}

@import 'responsive';
