@font-face {
  font-family: "MediumSans";
  src: url("/static/fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BoldSans";
  src: url("/static/fonts/Open_Sans/OpenSans-ExtraBold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "BoldSerif";
  src: url("/static/fonts/NoticiaText_Bold/NoticiaText-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

