@font-face {
  font-family: "MediumSans";
  src: url("fonts/CooperHewitt/CooperHewitt-Medium.woff");
  font-style: normal; }
@font-face {
  font-family: "BoldSans";
  src: url("fonts/CooperHewitt/CooperHewitt-Bold.woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "SemiBoldItalic";
  src: url("fonts/CooperHewitt/CooperHewitt-SemiboldItalic.woff");
  font-weight: bold;
  font-style: normal; }
/* line 28, style.scss */
body {
  background-color: #498CA9;
  font-family: "MediumSans";
  color: #DFD5C6; }

/* line 34, style.scss */
p {
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

/* line 39, style.scss */
a {
  font-family: "BoldSans";
  color: #DADE26;
  padding: 8px 12px 4px 12px;
  border: 1px solid #498CA9; }
  /* line 45, style.scss */
  a:hover {
    border: 1px solid; }

/* line 50, style.scss */
#container1 {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 3em 2em 4em 2em; }
  /* line 58, style.scss */
  #container1 div {
    flex-grow: 1; }
  /* line 62, style.scss */
  #container1 #left-col {
    order: 1;
    flex: 1 1 30%;
    margin: 0 2em 2em 0; }
  /* line 68, style.scss */
  #container1 #right-col {
    order: 2;
    flex: 1 1 17%;
    border: 1px solid;
    padding: 1em 2em 1em 2em; }
    /* line 74, style.scss */
    #container1 #right-col p {
      margin: 0 0 .6em 0; }
    /* line 78, style.scss */
    #container1 #right-col strong {
      font-family: "BoldSans"; }
  /* line 84, style.scss */
  #container1 header {
    flex-shrink: 1;
    font-family: "BoldSans";
    font-size: 2.5em; }
  /* line 90, style.scss */
  #container1 h2#subtitle {
    color: #2A2A2A;
    margin: .7em 1.4em 1em 0;
    display: inline-block; }
  /* line 96, style.scss */
  #container1 .taglines {
    margin: 0 0 0 3.5em; }
    /* line 99, style.scss */
    #container1 .taglines h3 {
      margin: .3em 0 0 0;
      font-family: "SemiBoldItalic"; }

/* line 107, style.scss */
#container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5em 2em 3em 0;
  background-color: #DCDBD5;
  color: #393939; }
  /* line 116, style.scss */
  #container2 div {
    font-size: 1.7em;
    margin: 0 1.3em 0 1.3em; }
  /* line 121, style.scss */
  #container2 .less-important {
    font-size: 1.3em; }
  /* line 126, style.scss */
  #container2 #col1 {
    order: 1;
    padding: 1em 2em 1.5em 2em;
    background-color: #646142;
    color: #E1E1E1; }
  /* line 133, style.scss */
  #container2 #middle-col {
    order: 2;
    font-size: 6em;
    vertical-align: middle;
    text-align: center; }
  /* line 140, style.scss */
  #container2 #col2 {
    border: 5px solid;
    order: 2;
    padding: 1em 2.5em 1.5em 2em;
    font-size: 1.1em; }

/* line 149, style.scss */
#container3 {
  background-color: #DCDBD5;
  padding: 2em;
  font-size: 1.5em; }
  /* line 154, style.scss */
  #container3 strong {
    font-family: "SemiBoldItalic"; }
  /* line 158, style.scss */
  #container3 header {
    color: #393939;
    font-family: "SemiBoldItalic";
    background-color: #E1E1E1;
    display: inline-block;
    margin: 2em 0 0 0;
    padding: 5px 8px 0px 8px; }
  /* line 167, style.scss */
  #container3 div {
    margin: 0 0 3em 0;
    padding: 2em;
    background-color: #3C3C3C;
    color: #E1E1E1; }
  /* line 175, style.scss */
  #container3 #col1 {
    font-family: "SemiBoldItalic"; }
  /* line 181, style.scss */
  #container3 #col2 p {
    margin: .8em 0 0 0; }
  /* line 185, style.scss */
  #container3 #col2 ul {
    margin: .8em; }

/* line 193, style.scss */
footer {
  padding: 1em 3em 2em 1em; }

/* RESPONSIVE */
@media (max-width: 700px) {
  /* line 203, style.scss */
  #right-col a {
    display: block;
    margin: 0 0 .4em 0; }

  /* line 211, style.scss */
  #container1 #left-col .taglines {
    margin-left: 1em; } }
@media (max-width: 850px) {
  /* line 225, style.scss */
  #container2 #col2, #container2 #middle-col {
    margin-top: 45px; }

  /* line 230, style.scss */
  ul {
    padding-left: 1em; } }
@media (max-width: 1300px) {
  /* line 237, style.scss */
  #container2 {
    flex-direction: column; }

  /* line 241, style.scss */
  #col1 {
    margin-bottom: 1.2em; }

  /* line 245, style.scss */
  #middle-col {
    padding-top: 24px; } }
@media (max-width: 500px) {
  /* line 256, style.scss */
  #container3 {
    padding: 0; }
    /* line 258, style.scss */
    #container3 div {
      font-size: .70em; } }

/*# sourceMappingURL=style.css.map */
