
@font-face {
    font-family: "MediumSans";
    src:url("fonts/CooperHewitt/CooperHewitt-Medium.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: "BoldSans";
     src: url("fonts/CooperHewitt/CooperHewitt-Bold.woff") format('woff');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "SemiBoldItalic";
    src:url("fonts/CooperHewitt/CooperHewitt-SemiboldItalic.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

$blue-bg: #498CA9;
$dk-fg: #393939;
$lt-bg: #DCDBD5;  


body {
  background-color: $blue-bg;
  font-family: "MediumSans";
  color: #DFD5C6;
  font-size: 16px;
  }

p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

a {
    font-family: "BoldSans";
    padding: 8px 12px 4px 12px;
    text-decoration: none;
    min-width: 48px;
    min-height: 48px;
    // margin: 40px;
}

strong {
    font-family: "BoldSans";
}


#button-container {
    position: fixed;
    text-align: right;
    width: 100%;
    height: 35px;
    padding-top:20px;

    span {
        padding: 9px 20px 4px 7px;
        font-size: 30px;
        font-family: "BoldSans", "Sans";
        // background-color: $dk-fg;
        background-color: black;
        opacity: 0.65;

    }
}

nav {
    width: 150px;
    height: 100%;
    padding: 2em 0 0 1em;
    background-color:#000000;
    position: absolute;
    top: 0px;
    transform: translate(-300px, 0);
    // transform: transform 0.3s ease;

    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        height: 40px;
    }

    a {
        color:$lt-bg;
        &:hover {
            text-decoration: underline;
        }
    }
}

nav.open {
    transform: translate(0, 0);
    position: fixed;
}


#up-arrow {
    text-align: right;
    position: fixed;
    bottom: 0px;
    opacity: 0.75;
    width: 100%;

    img {
        padding: 20px;
    }
}

#container1 {
    display: flex;
    justify-content: flex-start; 
    align-items: baseline;
    padding: 3em 2em 6em 2em;
    
    a {
        color: #DADE26;
        &:hover {
            background-color: #74A0B3;
        }
    }

    #left-col {
        order: 1;
        flex-basis: 75%;
        margin: 0 2em 3.5em 0;
    }

    #right-col {
        order: 2;
        border: 1px solid;
        padding: 1em 2em 1em 2em;
        max-width: 33%;

        p {
            margin: 0 0 .6em 0;
        }

    }

    header {
        flex-shrink: 1;
        font-family: "BoldSans";
        font-size:2.5em;
    }

    h2#subtitle {
        color: #2A2A2A;
        margin: .7em 1.4em 1em 0;
        display: inline-block;
    }

    .taglines {
        margin: 0 0 0 3.5em;

        h3 {
            margin: .3em 0 0 0;
            font-family: "SemiBoldItalic";
        }
    }
}

#github-links {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    letter-spacing: 1px;
    background-color: $lt-bg;
    color: $dk-fg;
    padding: 3em 0 1em 0;
    text-align: center;
   
    p {
        margin: 0 0 .6em 0;
        min-height:40px;
    }

    a {
        color: #BC260F;
        border: 0px none;

        &:hover {
            background-color: rgba(188, 38, 15, 0.1);
        }
    }
}

#container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5em 2em 3em 0;
    background-color: $lt-bg;
    color: $dk-fg;

    ul {
        list-style: none;
    }

    div {
        font-size: 1.2em;
        margin: 0 1.3em 0 1.3em;
    }

    #col1, #col3 {
        padding: 1em 2.5em 1.5em 2em;
    }

    #col1 {
        order: 1;
        border: 5px solid;
    }

    #middle-col {
        order: 2;
        font-size: 6em;
        vertical-align: middle;
        text-align: center;
        flex-basis: 5%;
    }

    #col3 {
        background-color: #646142; 
        color: #E1E1E1;
        order: 3;
    }

}

#container3 {
    background-color: $lt-bg;
    padding: 2em;
    font-size: 1.5em;
  
    strong {
        font-family: "SemiBoldItalic";
        // color: #DBD7BF;
    }

    header {
        color: $dk-fg;
        font-family: "SemiBoldItalic";
        background-color: #E1E1E1;
        display: inline-block;
        margin: 2em 0 0 0;
        padding: 5px 8px 0px 8px;
    }

    div {
        margin: 0 0 3em 0;
        padding: 2em;
        background-color: #3C3C3C; 
        color: #E1E1E1;
    }

    #col1 {
        font-family: "SemiBoldItalic";
    }

    #col2 {
        
        p {
            margin: 1.3em 0 0 0;
        }

        ul {
            margin: .8em;
            list-style: outside;
        }
    }
}

footer {
    padding: 1em 0em 2em 1em;
}


/* RESPONSIVE */

@media screen and (max-width: 500px) {
    #container3 {
        padding: 0;
        div { 
            font-size: .70em;
        }
    }

    #container2 {
        padding: 3.5em 0;
    }

    #container2 #col1, #container2 #col3 {
        width: 75%;
        padding: 1.5em 1em;
        margin: auto;
    }


    #github-links {
        a {
            display: block;
        }
    }
}

@media screen and (min-width: 799px) {
    /* change nav for bigger screen */

    nav {
        display: block;
        position: fixed;
        top: 0;
        transform: translate(0,0);
        max-width: 100%;
        width: 100%;
        height: 1.7em;
        padding: 0;

        ul {
            display: inline-block;
            max-width: 100%;
            width: 100%;
            margin: 7px 0 3px 0;

        }

        ul li {
            display: inline-block;
            a {
                color: white;
            }
        }
    }

    #container1 {
        margin-top: 1.7em;
    }

    #button-container {
        display: none;
    }
}

@media screen and (max-width: 750px) {

    body {
        font-size: 18px;
    }

    #container1 {
        flex-direction: column;
        align-items: center;
        
        #left-col {
            flex-basis: auto;
            .taglines {
                margin-left:1em;
            }
        }

        #right-col {
            flex-basis: auto;
            max-width: 85%;
            // margin: auto;

            a {
                font-size: 1.4em;
                display: block;
                margin:0 0 .4em 0;
            }
        }
    }

    #github-links {
        font-size: 1em;
    }

}

@media screen and (max-width: 850px) {
   #container2 {
        #col2, #middle-col {
            margin-top: 45px;
        }
    }

    ul {
        padding-left: 1em;
    }
}

@media (max-width: 1200px) {
    #container2 {
        flex-direction: column;
        
        #col1 {
            margin-bottom: 1.2em;
            flex-basis: auto;
        }

        #middle-col {
            margin: 0 0 0 0;
            padding-top: 24px;
            flex-basis: auto;
         }

         #col3 {
             flex-basis: auto;
         }
    }
}

