@font-face {
    font-family: "MediumSans";
    src:url("fonts/CooperHewitt/CooperHewitt-Medium.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: "BoldSans";
    src: url("fonts/CooperHewitt/CooperHewitt-Bold.woff") format('woff');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "SemiBoldItalic";
    src:url("fonts/CooperHewitt/CooperHewitt-SemiboldItalic.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

$dk-gray: #393939;
$lt-gray: #DCDBD5;  
$yellow-green: #D8FF84;
$link-border-red-hover: inset 0px -6px rgba(171, 34, 6, 0.2);
$red-link: #BC260F;

body {
  font-family: "MediumSans", sans-serif;
  font-size: 17px;
  }

p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

a {
    font-family: "BoldSans", sans-serif;
    padding: 8px 0px 4px 0px;
    text-decoration: none;
    min-width: 48px;
    min-height: 48px;
    color: $red-link;

    &:hover {
        box-shadow: $link-border-red-hover;
    }
}

strong {
    font-family: "BoldSans", sans-serif;
}

ul {
    list-style: none;
}

#button-container {
    position: fixed;
    text-align: right;
    width: 100%;
    height: 35px;
    padding-top:20px;

    span {
        padding: 9px 20px 4px 7px;
        font-size: 30px;
        font-family: "BoldSans", sans-serif;
        background-color: black;
        opacity: 0.65;
        color: $lt-gray;
    }
}

nav {
    width: 150px;
    height: 100%;
    padding: 2em 0 0 1em;
    background-color:#000000;
    position: absolute;
    top: 0px;
    transform: translate(-300px, 0);

    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        min-height: 80px;
        text-align: center;
    }

    a {
        color:$lt-gray;
        width: 150px;
        padding: 24px;
        
        &:hover {
            box-shadow: none;
            text-decoration: none;
            background-color: #5A5A5A;
            opacity: 0.8;
        }
    }
}

nav.open {
    transform: translate(0, 0);
    position: fixed;
}

#top {
    color: #E6E6E6;
    background-image: url("/static/images/cv/gears_large.jpg");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    display: flex;
    justify-content: space-around; 
    align-items: baseline;
    align-items: center;
    padding: 3em 2em 6em 2em;

    #left-col {
        order: 1;
        margin: 1rem 2rem 3.5rem 0;
        color: $yellow-green;

        header {
            flex-shrink: 1;
            font-family: "BoldSans", sans-serif;
            font-size:2.5em;
        }

        ul {
            list-style: none;
            margin-top: 0px;

            li h3 {
                margin: 0 0 0 0;
            }
        }

        h2 {
            margin-bottom: 5px;
        }

        h2, h3, header {
            background-color: rgba(0, 154, 255, 0.6);
            padding: 6px 8px 2px 8px;
        }

        h2, h3 {
            display: inline-block; 
        }
    }

    #right-col {
        order: 2;
        padding: 1em 2em 1em 2em;
        max-width: 33%;
        background-color: rgba(255, 255, 255, 0.8);

        p {
            margin: 0 0 .6em 0;
            letter-spacing: 2px;
            color: black;
        }
    }
}

#github {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 2rem 3rem 0rem;
    background-color: white;
    color: $dk-gray;

    #github-links {
        letter-spacing: 1px;
        background-color: $lt-gray;
        color: $dk-gray;
        padding: 3rem 2rem 1rem 2rem;
        max-width: 40%;
        order: 1;
       
        .repos {
            h3 {
                width: 100%;
            }

            .right-col, .left-col {
                margin-left: 1rem;
            }
        }

        h2 {
            margin: 0 0 0 0;
        }
    }

    #col2 {
        padding: 1.3rem;
        order: 2;
        color: $lt-gray;
        background-color: #2D9DBA;
    }
} /* container2 */

#cv {
    margin-top: 3rem;

    div {
        padding: 3.5rem 3.5rem 7.5rem 5.5rem;
        background-color: #C8D72D;
        color: $dk-gray;

        strong {
            font-family: "SemiBoldItalic", sans-serif;
        }

        header {
            font-family: "SemiBoldItalic", sans-serif;
            color: $lt-gray;
            background-color: $dk-gray;
            display: inline-block;
            margin: 2em 0 0 0;
            padding: 3px 8px 0px 8px;
        }

        p {
            margin: 1.3rem 0 0 0;
        }

        ul {
            margin: .8rem;
            list-style: none;
        }
    }
}

footer {
    padding: 1em 0em 2em 1em;
    background-color: $dk-gray;
    color: $lt-gray;
    text-align: center; 
}

/* RESPONSIVE */

@media screen and (max-width: 570px) {
    #top {
        flex-direction: column;
        justify-content: space-between;
        padding:0 0 0 0;
        margin-bottom: 2.3rem; 

        #right-col {
            max-width: 100%;
            width: 100%;
            border-bottom: 2px solid $lt-gray;
            padding: 0 0 0 0;

            p {
                letter-spacing: unset;
                padding: 1rem 1.3rem;
            }
        }
    }

    #github {
        padding: 1rem 0 0 0;

        #github-links {
            max-width: 100%;
            width: 100%;
            margin-bottom: 1.3rem;

            .repos {
                .right-col {
                    display: none;
                }
            }
        }
    }

    #cv {
        div {
            padding: 0 0 4rem 0;
            p {
                padding: 0 1.2rem 0 1.2rem
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #top { 
        background-image: url("/static/images/cv/gears_small.jpg");
    }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
    body {
        font-size: 16px;
    }

    #top {
        background-image: url("/static/images/cv/gears_medium.jpg");
        background-size: cover;
    }
}

@media screen and (max-width: 751px) {
    #top {
        #left-col {
            header {
                font-size: 1.5rem;
            }

            h2, h3 {
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (min-width: 751px) {
    #top {
        background-image: url("/static/images/cv/gears_large.jpg");
        background-size: cover;
    }
}
