<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gregory Vigo Torres</title>
    <link href="{{ url_for('static', filename='css/normalize.css') }}" media='all' type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/octicons.css') }}" media='all' type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" media='all' type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
<div id="top">
    <div id="top-container">
        <header>Gregory Vigo Torres</header>
        <p>Web Developer</p>
        <p>Python, Javascript, HTML, CSS</p>
        <p id="contact-links">
            <a class="redlink" href="mailto:gregory@vigo-torr.es">email</a>
            <a class="redlink" href="https://github.com/GregoryVigoTorres?tab=repositories" target=blank>
                <span class="octicon octicon-mark-github"></span> github</a>
            <a class="redlink" href='https://twitter.com/GrgVT' target='blank'>@GrgVT</a>
            <a class="redlink" href='https://es.linkedin.com/in/gregoryvigotorres' target='blank'>linkedin</a>
        </p>
        <p id="nav-links">
            <a href="#about-me-anchor">about</a>
            <a href="#projects-anchor">projects</a>
            <a href="#skills-anchor">skills</a>
            <a href="#cv-anchor">cv</a>
        </p>
    </div>
</div>

<span id="about-me-anchor" ></span>
<p class="title-span">About Me</p>
<div id="about-me">
    <p>
        I love making things with code and trying to learn something new every day.
        I have about 4 years of experience with Python and a little less with Javascript and varying levels of expertise in a <a href="#skills">number of other things</a>.
        I think good design should be invisible, &#8220;simple is better than complex&#8221; and &#8220;complex is better than complicated&#8221;.
    </p>
</div>

<div id="coming-soon">
    <p>Coming Soon</p>
    <br>
    <p id="close-coming-soon">close</p>
</div>

<span id="projects-anchor" ></span>
<p class="title-span">Projects</p>

<div id="projects">
    <a class="project-link" href="https://github.com/GregoryVigoTorres/notMyType" target="blank">
        <div id="not-my-type" class="white-bg-container">
            <p><strong>Not My Type</strong></p>
            <p>View &amp; download fonts</p>
            <p>(Flask, Angular)</p>
        </div>
    </a>

    <a class="project-link" href="https://github.com/GregoryVigoTorres/PaintingsApp" target="blank">
        <div id="paintings" class="black-bg-container">
            <p><strong>Portfolio</strong></p>
            <p>Portfolio app for paintings</p>
            <p>(Flask, Javascript)</p>
        </div>
    </a>

    <a class="project-link" href="https://github.com/GregoryVigoTorres/sortableTables" target="blank">
        <div id="sortable-tables" class="white-bg-container">
            <p><strong>Sortable tables</strong></p>
            <p>Small Javascript library </p>
            <p>for making HTML tables sortable</p>
        </div>
    </a>

    <a class="project-link"
        href="javascript:showComingSoon('pymcsqlface')">
        <div id="pymcsqlface" class="white-bg-container">
            <p><strong>pyMcSQLFace</strong></p>
            <p>Web client for SQL databases</p>
            <p>(Flask, SQLAlchemy, JavaScript)</p>
        </div>
    </a>
</div>

<span id="skills-anchor"></span>
<p class="title-span">Skills</p>
<div id="skills">
  <div class="top-skills-container">
    <p class="skills-title">
    <strong>Primarily</strong>
    </p>
    <div>
      <ul>
        <li>Python</li>
        <li>Javascript</li>
        <li>HTML</li>
        <li>CSS/SCSS</li>
        <li>Flask</li>
      </ul>
    </div>
  </div>

  <p class="skills-title">
    <strong>I have some experience with</strong>
  </p>

  <div>
      <ul>
          <li>Bootstrap</li>
          <li>Foundation</li>
          </li>Angular 1</li>
          <li>Unit testing</li>
      </ul>
  </div>

  <div>
      <ul>
          <li>SQLAlchemy</li>
          <li>Postgres</li>
          <li>MySQL/MariaDB</li>
          <li>SQLite</li>
      </ul>
  </div>

  <div>
      <ul>
          <li>Django</li>
          <li>Pyramid</li>
          <li>Ruby on Rails</li>
          <li>Scrapy</li>
      </ul>
  </div>

  <div>
      <ul>
          <li>git/github</li>
          <li>Debian</li>
          <li>bash</li>
          <li>Apache2</li>
          <li>Nginx</li>
          <li>Docker/Vagrant</li>
      </ul>
  </div>
</div>

<span id="cv-anchor"></span>
<div id="cv">
    <p class="title-span">CV</p>
    <div>
        <header>Online Courses</header>
        <ul>
            <li><strong>Web Development</strong> Udacity</li>
            <li><strong>Basic Javascript</strong> Udacity</li>
            <li><strong>Object Oriented Javascript</strong> Udacity</li>
            <li><strong>Responsive Web Design Fundamentals</strong> Udacity</li>
            <li><strong>Web Application Architectures</strong> Coursera</li>
            <li><strong>php</strong> Codeacademy</li>
            <li><strong>Git Fundamentals</strong> Pluralsight</li>
        </ul>

        <header>Programming Languages</header>
        <ul>
            <li>Python (2 &amp; 3)</li>
            <li>Javascript</li>
            <li>a little php</li>
        </ul>

        <p>I attended <strong>EuroPython 2015</strong> in Bilbao</p>

        <header>Formal Education</header>
        <ul>
            <li>MFA <strong>The University of Pennsylvania</strong></li>
            <li>BFA <strong>The School of The Art Institute of Chicago</strong></li>
        </ul>

        <header>Human Languages</header>
        <ul>
            <li><strong>English</strong> Native</li>
            <li><strong>Spanish</strong> Functionally bilingual</li>
        </ul>

        <header>Work Experience</header>
        <ul>
            <li>Maintenance & l10n Project Management, <u>www.oblackowhite.com</u> [2014]</li>
            <li>Freelance Translator [2007-2015]</li>
            <li>In Company English Teacher [2002-2012]</li>
            <li>Assistant to the Collections Manager, <strong>The Architectural Archives</strong> of <strong>The University of Pennsylvania</strong> [2000-2002]</li>
        </ul>

        <p>
        Besides coding, my other interests include
        painting, design, everything free &amp; open source and documentary film.
        </p>
    </div>
</div>

<div id="menu-button-container">
    <span class="octicon octicon-three-bars" id="show-menu"></span>
    <ul id="menu-items">
        <li><a class="menu-item" href="#about-me-anchor">about</a></li>
        <li><a class="menu-item" href="#projects-anchor">projects</a></li>
        <li><a class="menu-item" href="#skills-anchor">skills</a></li>
        <li><a class="menu-item" href="#cv-anchor">cv</a></li>
        <li><a class="menu-item" href="#mobile-links-container">contact</a></li>
    </ul>
</div>

<a id="back-to-top-link" href="#top" style="display: none;">
    <div id="back-to-top">top</div>
</a>

<div id="mobile-links-container">
    <p class="title-span">Contact</p>
    <div></div>
</div>

<footer>
    <div>&#169; Gregory Vigo Torres, 2016</div>
</footer>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
