<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gregory Vigo Torres</title>
    <link href="{{ url_for('static', filename='css/normalize.css') }}" media='all' type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/octicons.css') }}" media='all' type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" media='all' type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div id="top">
      <div id="top-container">
        <!-- <div id="menu&#45;button"> -->
        <!--   <span class="octicon octicon&#45;three&#45;bars" id="show&#45;menu"></span> -->
        <div class="left-container">
          <nav>
            <a href="#about-me">about me</a>
            <a href="#project-container">projects</a>
            <a href="#cv">cv</a>
          </nav>

          <header>Gregory Vigo Torres</header>
          <p>Web &amp; Software Development</p>
          <p id="contact-links">
            <a href="mailto:gregory@vigo-torr.es">email</a>
            <a href="https://github.com/GregoryVigoTorres?tab=repositories" target=blank>
              <span class="octicon octicon-mark-github"></span> github</a>
            <a href='https://es.linkedin.com/in/gregoryvigotorres' target='blank'>linkedin</a>
          </p>
        </div>
      </div>
    </div>

    <div id="about-me">
      <div class="content">
          <p>
          I'm mainly a <strong>Python</strong> and <strong>Javascript</strong> developer. My favorite stack is <strong>Debian</strong>, <strong>Nginx</strong>, <strong>Flask</strong>, <strong>SQLAlchemy</strong>, <strong>PostgreSQL</strong> and plain <strong>Javascript</strong>. I also have some experience with other things ranging from bash to typography to OOP, <strong>Django</strong>, unit tests and git. But, my main focus is on Python web apps.
        </p>
        <p>
        I think good design is invisible, &#8220;simple is better than complex&#8221;
        and &#8220;complex is better than complicated&#8221;.
        </p>
      </div>
    </div>

    <div id="project-container">
      <div class="title">
        Projects
      </div>

      <div class="project-row">
        <div class="left-col" >
          <img src="{{ url_for('static', filename='images/paintings1.jpeg') }}">
        </div>

          <div class="right-col">
            <p>
              <strong>Painting Portfolio</strong>
            </p>
            <a href="https://github.com/GregoryVigoTorres/PaintingsApp" target="blank">
              link to github repo
            </a>
            <br>
            <a href="#">
              link to static heroku site
            </a>
            <p class="white">
                Upload images, series and texts
            </p>
            <p class="white">(Flask, Javascript, SQLAlchemy, PostgreSQL)</p>
          </div>
      </div>

      <div class="project-row">
        <div class="left-col">
          <img src="{{ url_for('static', filename='images/notmytype1.jpeg') }}" >
        </div>

          <div class="right-col">
            <p><strong>Not My Type</strong></p>
            <a class="project-link"
               href="notmytype.herokuapp.com" targert="blank">
              heroku link
            </a>
            <br>
            <a href="#">
              github link
            </a>
            <p class="white">
              View and download free fonts with CSS snippet
            </p>
            <p class="white">(Flask, SQLAlchemy, JavaScript)</p>
          </div>
      </div>

      <div class="project-row">
        <div class="left-col">
          <img src="{{ url_for('static', filename='images/xpathology.jpeg') }}" >
        </div>

          <div class="right-col">
            <p><strong>XPathology</strong></p>
            <a class="project-link"
               href="xpathology.herokuapp.com" targert="blank">
              heroku link
            </a>
            <br>
            <a href="#">
              github link
            </a>
            <p class="white">
              XPath syntax reference
            </p>
            <p class="white">(HTML, JavaScript)</p>
          </div>
      </div>

      <div class="project-row">
        <div class="left-col">
          <img src=" {{ url_for('static', filename='images/sortable_tables_screenshot.jpeg') }}")>
        </div>

        <div class="right-col">
          <p><strong>Sortable tables</strong></p>
          <a href="https://github.com/GregoryVigoTorres/sortableTables" target="blank">
            github link
          </a>
          <p class="white">
            Lightweight Javascript library for making HTML tables sortable
          </p>
        </div>
      </div>

      <div class="project-row">
        <div class="left-col">
          <img src="{{ url_for('static', filename='images/mcsqlface2.jpeg') }}" >
        </div>

          <div class="right-col">
            <p><strong>pyMcSQLFace</strong></p>
            <a class="project-link"
               href="javascript:showComingSoon('pymcsqlface')">
              github ... coming soon
            </a>
            <p class="white">Browser based client for SQL databases</p>
            <p class="white">(Flask, SQLAlchemy, JavaScript)</p>
          </div>
      </div>
    </div>

    <div id="skills">
      <div id="top-skills-container">
        <div class="title">
          I primarily use
        </div>

        <div>
          <ul>
            <li>Python</li>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS/SCSS</li>
            <li>Flask</li>
            <li>SQLAlchemy</li>
          </ul>
        </div>
      </div> <!-- top skills container -->

      <div id="other-skills-container">
        <div class="title">
          I have some experience with
        </div>

        <div>
          <ul>
            <li>Bootstrap</li>
            <li>Foundation</li>
            <li>Angular 1.5</li>
            <li>Unit testing</li>
          </ul>
        </div>

        <div>
          <ul>
            <li>PostgreSQL</li>
            <li>MySQL/MariaDB</li>
            <li>SQLite</li>
          </ul>
        </div>

        <div>
          <ul>
            <li>Django</li>
            <li>Pyramid</li>
            <li>Ruby on Rails</li>
            <li>Scrapy</li>
          </ul>
        </div>

        <div>
          <ul>
            <li>git/github</li>
            <li>Debian</li>
            <li>bash</li>
            <li>Apache2</li>
            <li>Nginx</li>
            <li>Docker/Vagrant</li>
          </ul>
        </div>
      </div><!-- other-skills-container -->
    </div><!-- skills -->

    <div id="cv">
      <div class="title">CV</div>
      <div>
        <header>Online Courses</header>
        <ul>
          <li><strong>Web Development</strong> Udacity</li>
          <li><strong>Basic Javascript</strong> Udacity</li>
          <li><strong>Object Oriented Javascript</strong> Udacity</li>
          <li><strong>Responsive Web Design Fundamentals</strong> Udacity</li>
          <li><strong>Web Application Architectures</strong> Coursera</li>
          <li><strong>php</strong> Codeacademy</li>
          <li><strong>Git Fundamentals</strong> Pluralsight</li>
        </ul>

        <p>I attended <strong>EuroPython 2015</strong> in Bilbao</p>

        <header>Programming Languages</header>
        <ul>
          <li>Python</li>
          <li>Javascript</li>
          <li>a little php &amp; Ruby</li>
        </ul>

        <header>Human Languages</header>
        <ul>
          <li><strong>English</strong> Native</li>
          <li><strong>Spanish</strong> Functionally bilingual</li>
        </ul>


        <header>Formal Education</header>
        <ul>
          <li>MFA <strong>The University of Pennsylvania</strong></li>
          <li>BFA <strong>The School of The Art Institute of Chicago</strong></li>
        </ul>

        <header>Work Experience</header>
        <ul>
          <li>Maintenance & l10n Project Manager, <u>www.oblackowhite.com</u> [2014]</li>
          <li>Freelance Translator [2007-2015]</li>
          <li>In Company English Teacher [2002-2012]</li>
          <!-- <li>Assistant to the Collections Manager, <strong>The Architectural Archives</strong> of <strong>The University of Pennsylvania</strong> [2000&#45;2002]</li> -->
        </ul>

        <p>
        Besides coding, my other interests include
        painting, design, everything free &amp; open source and documentary film.
        </p>
      </div>
    </div><!-- cv -->

    <a id="back-to-top-link" href="#top" style="display: none;">
      <div id="back-to-top">top</div>
    </a>

    <!-- <div id="mobile&#45;links&#45;container"> -->
    <!--   <p class="title&#45;span">Contact</p> -->
    <!--   <div></div> -->
    <!-- </div> -->

    <footer>
      <div>
        <strong>&#169; Gregory Vigo Torres, 2016</strong>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
