<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gregory Vigo Torres</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link href="{{ url_for('static', filename='css/style.css') }}" media='all' type="text/css" rel="stylesheet">

        <svg xmlns="http://www.w3.org/2000/svg" style="width:0;height:0;visibility:hidden;">
          <symbol viewbox="0 0 12 16" id="three-bars">
            <path d="M11.41 9H.59C0 9 0 8.59 0 8c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zm0-4H.59C0 5 0 4.59 0 4c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zM.59 11H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1H.59C0 13 0 12.59 0 12c0-.59 0-1 .59-1z">
            </path>
          </symbol>
        </svg>



  </head>

  <body>
    <div id="main-container">
    <nav>
      <div class="icon-container">
        <svg version="1.1"
             width="32"
             height="32"
             viewBox="0 0 12 16"
             aria-hidden="true">
          <use xlink:href="#three-bars"></use>
        </svg>
      </div>
      <a class="mobile-link" href="#projects">projects</a>
      <a href="#cv">cv</a>
    </nav>

    <div id="top">
      <h2>Gregory Vigo Torres</h2>
      <p>Web &amp; Software Development</p>
      <p id="contact-links">
        <a href="mailto:gregory@vigo-torr.es">email</a>
        <a href="https://github.com/GregoryVigoTorres?tab=repositories" target=blank>
          <span class="octicon octicon-mark-github"></span> github</a>
        <a href='https://es.linkedin.com/in/gregoryvigotorres' target='blank'>linkedin</a>
      </p>
    </div>

    <div id="about-me">
      <p>
      I'm mainly a <strong>Python</strong> and <strong>Javascript</strong> web developer. My favorite stack is <strong>Debian</strong>, <strong>Nginx</strong>, <strong>Flask</strong>, <strong>SQLAlchemy</strong>, <strong>PostgreSQL</strong> and plain <strong>Javascript</strong>. I also have some experience with a lot of other things ranging from bash to typography to OOP, MVC or <strong>Django</strong>, <strong>git</strong> or <strong>SQL</strong>. But, my main focus is on Python web apps.

      </p>
      <p>
      I think good design is invisible, &#8220;simple is better than complex&#8221;
      and &#8220;complex is better than complicated&#8221;.
      </p>
    </div>

    <div id="projects">
      <div class="title">
        Projects
      </div>

      <div class="project-row">
        <div class="left-col" >
          <a href="https://gregoryvigotorres.herokuapp.com/" target="blank">
            <img src="{{ url_for('static', filename='images/paintings1.jpeg') }}">
          </a>
        </div>
        <div class="right-col">
          <p>
          <strong>Painting Portfolio</strong>
          </p>
          <a href="https://gregoryvigotorres.herokuapp.com/" target="blank">
            gregoryvigotorres.herokuapp.com
          </a>
          <br>
          <a href="https://github.com/GregoryVigoTorres/PaintingsApp" target="blank">
            source code
          </a>
          <p class="project-description">See a bunch of paintings</p>
          <p class="project-description">(Flask, Javascript, SQLAlchemy, PostgreSQL)</p>
        </div>
      </div>

      <div class="project-row">
        <div class="left-col">
          <a href="https://notmytype.herokuapp.com" target="blank">
            <img src="{{ url_for('static', filename='images/notmytype1.jpeg') }}" >
          </a>
        </div>

        <div class="right-col">
          <p><strong>Not My Type</strong></p>
          <a href="https://notmytype.herokuapp.com" target="blank">
            notmytype.herokuapp.com
          </a>
          <br>
          <a href="https://github.com/GregoryVigoTorres/notMyType" target="blank">
            source code
          </a>
          <p class="project-description">View and download free fonts with a @font-face snippet</p>
          <p class="project-description">(Flask, SQLAlchemy, Angular 1.5)</p>
        </div>
      </div>

      <div class="project-row">
        <div class="left-col">
          <a href="https://xpathology.herokuapp.com" target="blank">
            <img src="{{ url_for('static', filename='images/xpathology.jpeg') }}" >
          </a>
        </div>

        <div class="right-col">
          <p><strong>XPathology</strong></p>
          <a href="https://xpathology.herokuapp.com" target="blank">
            xpathology.herokuapp.com
          </a>
          <br>
          <a href="https://github.com/GregoryVigoTorres/xpathology" target="blank">
            source code
          </a>
          <p class="project-description">XPath syntax reference</p>
          <p class="project-description">(Flask, HTML, Javascript)</p>
        </div>
      </div>

      <div class="project-row">
        <div class="left-col">
          <a href="https://github.com/GregoryVigoTorres/sortableTables" target="blank">
            <img src=" {{ url_for('static', filename='images/sortable_tables_screenshot.jpeg') }}")>
          </a>
        </div>

        <div class="right-col">
          <p><strong>Sortable tables</strong></p>
          <a href="https://github.com/GregoryVigoTorres/sortableTables" target="blank">
            source code
          </a>
          <p class="project-description">Lightweight Javascript library for making HTML tables sortable</p>
          <p class="project-description">(plain Javascript)</p>
        </div>
      </div>

      <div class="project-row">
        <div class="left-col">
          <img src="{{ url_for('static', filename='images/mcsqlface2.jpeg') }}" >
        </div>

          <div class="right-col">
            <p><strong>pyMcSQLFace</strong></p>
            <!-- <a class="project&#45;link" -->
            <!--    href=""> -->
            <!--   github ... coming soon -->
            <!-- </a> -->
            <p class="project-description">Browser based client for SQL databases</p>
            <p class="project-description">Still in alpha pre-release</p>
            <p class="project-description">(Flask, SQLAlchemy, Javascript)</p>
          </div>
      </div>
    </div>

    <!-- <div class="white&#45;space" style="height: 5rem;">&#38;nbsp;</div> -->

    <div id="skills">
      <div id="other-skills-container">
        <div class="title">
          I have some experience with
        </div>

        <div>
          <ul>
            <li>Bootstrap</li>
            <li>Foundation</li>
            <li>Angular 1.5</li>
            <li>Unit testing</li>
          </ul>
        </div>

        <div>
          <ul>
            <li>PostgreSQL</li>
            <li>MySQL/MariaDB</li>
            <li>SQLite</li>
          </ul>
        </div>

        <div>
          <ul>
            <li>Django</li>
            <li>Pyramid</li>
            <!-- <li>Ruby on Rails</li> -->
            <li>Scrapy</li>
          </ul>
        </div>

        <div>
          <ul>
            <li>git/github</li>
            <li>Debian</li>
            <li>Apache2</li>
            <li>Nginx</li>
            <li>Docker/Vagrant</li>
          </ul>
        </div>
      </div><!-- other-skills-container -->

      <div id="top-skills-container">
        <div class="title">
          I primarily use
        </div>

        <div>
          <ul>
            <li>Python</li>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS/SCSS</li>
            <li>Flask</li>
            <li>SQLAlchemy</li>
          </ul>
        </div>
      </div> <!-- top skills container -->

    </div><!-- skills -->

    <div id="cv">
      <div class="title">CV</div>
      <div>
        <header>Online Courses</header>
        <ul>
          <li><strong>Web Development</strong> Udacity</li>
          <li><strong>Basic Javascript</strong> Udacity</li>
          <li><strong>Object Oriented Javascript</strong> Udacity</li>
          <li><strong>Responsive Web Design Fundamentals</strong> Udacity</li>
          <li><strong>Web Application Architectures</strong> Coursera</li>
          <li><strong>php</strong> Codeacademy</li>
          <li><strong>Git Fundamentals</strong> Pluralsight</li>
        </ul>

        <p>I attended <strong>EuroPython 2015</strong> in Bilbao</p>

        <header>Programming Languages</header>
        <ul>
          <li>Python</li>
          <li>Javascript</li>
          <li>a little php &amp; Ruby</li>
        </ul>

        <header>Human Languages</header>
        <ul>
          <li><strong>English</strong> Native</li>
          <li><strong>Spanish</strong> Functionally bilingual</li>
        </ul>


        <header>Formal Education</header>
        <ul>
          <li>MFA <strong>The University of Pennsylvania</strong></li>
          <li>BFA <strong>The School of The Art Institute of Chicago</strong></li>
        </ul>

        <header>Work Experience</header>
        <ul>
          <li>Maintenance & l10n Project Manager, <u>www.oblackowhite.com</u> [2014]</li>
          <li>Freelance Translator [2007-2015]</li>
          <li>In Company English Teacher [2002-2012]</li>
          <!-- <li>Assistant to the Collections Manager, <strong>The Architectural Archives</strong> of <strong>The University of Pennsylvania</strong> [2000&#45;2002]</li> -->
        </ul>

        <p class="footnote">
        Besides coding, my other interests include
        painting, design, everything free &amp; open source and documentary film.
        </p>
      </div>
    </div><!-- cv -->

    <div class="white-space" style="height: 5rem;">&nbsp;</div>

    <a id="back-to-top" href="#" style="display: none;">top</a>

    <footer>
      <div>
        <strong>&#169; Gregory Vigo Torres, 2016</strong>
      </div>
    </footer>
  </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
